<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret reservation | Step 1</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/layout.css">
</head>
<body>
    <div th:replace="/includes/menu::menu"></div>
    <div class="row" th:each="i: ${#numbers.sequence(0, totalActivities, 4)}">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body p-0">
                    <a th:href="${'/revervation/create/'+activities[i].id}" class="p-5">
                        <img th:src="${'../../images/'+activities[i].image}" />
                        <div class="text-center" th:text="${activities[i].name}"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" th:if="${i+1} <= ${totalActivities}">
                <div class="card-body p-0">
                    <a th:href="${'/revervation/create/'+activities[i + 1].id}" class="p-5">
                        <img th:src="${'../../images/'+activities[i + 1].image}" />
                        <div class="text-center" th:text="${activities[i + 1].name}"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" th:if="${i+2} <= ${totalActivities}">
                <div class="card-body p-0">
                    <a th:href="${'/revervation/create/'+activities[i + 2].id}" class="p-5">
                        <img th:src="${'../../images/'+activities[i + 2].image}" />
                        <div class="text-center" th:text="${activities[i + 2].name}"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3" th:if="${i+3} <= ${totalActivities}">
            <div class="card">
                <div class="card-body p-0">
                    <a th:href="${'/revervation/create/'+activities[i + 3].id}" class="p-5">
                        <img th:src="${'../../images/'+activities[i + 3].image}" />
                        <div class="text-center" th:text="${activities[i + 3].name}"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>