<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<form method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Opret reservation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date">Dato:</label>
                    <input type="time" name="date" id="date" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="people">Antal deltagere:</label>
                    <input type="number" name="peopleAmount" id="people" class="form-control" min="0" th:field="${reservation.peopleAmount}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="activity">Aktivitet:</label>
                    <select name="activity" id="activity" class="form-control">
                        <option th:each="activity : ${activities}" th:value="${activity.id}" th:text="${activity.name}"
                                th:selected="${chosenActivity == activity.id}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tid</th>
                        <th scope="col">Ledige medarbejdere</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10-11</td>
                        <!--for each array of available instructors-->
                        <td> <!--th:utext="'Navn:&emsp;&emsp;' + ${customer_HashMap.get(data.fk_customer_id).getName()} + '<br/>'" -->>
                            Her skal ledige instruktører listes.
                        </td>
                        <td><input type="radio"><br></td>
                    <tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" name="action" class="btn btn-primary" value="Tilbage">
                <input type="submit" name="action" class="btn btn-success float-right" value="Næste">
            </div>
        </div>
    </div>
</form>
</body>
</html>