<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title> Hotel Reservation Form </title>

    <link rel="stylesheet" href="/css/ReservationFillOutCSS.css">
</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<form method="post">
    <div class="container-fluid">
        <br/>
        <div class="row">
            <h3 class="mx-auto"> Udfyld oplysninger</h3><br>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <label class="paragraph-center">Navn*</label>
                <br/>
                <input type="text" class="form-control" id="inputFirstName" required="required" th:field="${customer.name}">
            </div>

            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-5">
                <label>Telefon*</label>
                <input type="tel" class="form-control" id="inputTlfNumber" required="required" th:field="${customer.telephone}">

            </div>

            <div class="form-group col-sm-5">
                <label>Email*</label>
                <input type="email" class="form-control" id="inputEmail" required="required" th:field="${customer.email}">

            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-5">
                <label>Firma</label>
                <input type="text" class="form-control" id="inputFirm" th:field="${customer.companyName}">

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4 vertical-center-checkbox">
                <input type="checkbox" class="form-check-input" id="materialUnchecked" th:value="true" th:field="${customer.newsmail}">
                <label class="form-check-label" for="materialUnchecked">Ønsker kunden at modtage mails
                    fra os?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center paragraph-center">Medarbejder ansvarlig for kunde*</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="form-group col-sm-2">
                <select class="form-control" id="assignWorker" name="employeeAssigned">
                    <option th:each="employee : ${employees_HashMap}" th:value="${employee.key}"
                            th:text="${employee.value.getRealname()}"></option>
                </select>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <label>*Skal udfyldes</label>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
                <button onclick="goBack()" class="btn btn-primary">Tilbage</button>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2">
                <button type="submit" name="action" class="btn btn-success btn-right">Næste</button>
            </div>
        </div>
    </div>
</form>


</body>
</html>