<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley | Start side</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="../images/logo.png" alt="Adventure Alley Logo" style="width: 100%">
            <h1 class="h3 mb-3 font-weight-normal">Adventure Alley</h1>
        </div>
        <div class="form-group">
            <a href="/" class="btn btn-lg btn-block btn-light">Oversigt</a>
            <a href="/reservation/create" class="btn btn-lg btn-block btn-light">Opret reservation</a>
            <a href="/activity/" class="btn btn-lg btn-block btn-light">Aktiviteter</a>
            <a href="/scheme/" class="btn btn-lg btn-block btn-light">Vagtplan</a>
        </div>
        <br/>
        <div class="form-group">
            <a href="/logout" type="submit" class="btn btn-lg btn-block btn-danger">Log ud</a>
        </div>
    </form>
</body>
</html>