<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
</head>
<body>


<form class="form-signin" method="Post" th:action="@{/editReservation}">
    <div class="text-center mb-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <img class="mb-4" src="../../images/logo.png" alt="Adventure Alley Logo">
                <h1 class="h3 mb-3 font-weight-normal">Adventure Alley | redigere reservation</h1>
                <div class="form-group">

                    <input type="text" name="reservation_id" hidden id="inputID" class="form-control"
                           th:value="${reservation.getId()}"/>
                    <label class="float-left" for="inputReservationStart">Reservation start</label>
                    <input type="text" id="inputReservationStart" class="form-control"
                           th:field="${reservation.start}"/>
                    <label class="float-left" for="inputReservationSlut">Reservation slut</label>
                    <input type="text" id="inputReservationSlut" class="form-control"
                           th:field="${reservation.end}"/>
                </div>

                <div class="form-group">
                    <label class="float-left">Rabat</label>
                    <input type="number" id="inputPrice" class="form-control"
                           th:field="${reservation.customDiscount}"/>
                </div>
                <br>
                <div class="form-group">
                    <label class="float-left">Antal personer</label>
                    <input type="text" id="inputAmount" class="form-control"
                           th:field="${reservation.peopleAmount}"/>
                </div>
                <br>
                <label class="float-left">Kunde</label>
                <select class="form-control" name="customer_id" >
                    <option th:each="customer : ${customer_HashMap}" th:value="${customer.value.getId()}"
                            th:text="${customer.value.getName()}"></option>
                </select>
                    <br>
                <label class="float-left">Medarbejder</label>
                <select class="form-control" name="employee_id">
                    <option th:each="employee : ${employees_HashMap}" th:value="${employee.value.getId()}"
                            th:text="${employee.value.getRealname()}"></option>
                </select>
                <br>
                <label class="float-left">Aktiviteter</label>

                <select class="form-control" name="activity_id">
                    <option th:each="activity : ${activities_HashMap}" th:value="${activity.value.getId()}"
                            th:text="${activity.value.getName()}"></option>
                </select>


            </div>

            </div>
            <div class="col-3"></div>
        </div>
    <div class="form-group">
        <div class="text-left mb-4">
            <a href="/aktiviteterOversigt" role="button"
               class="btn btn-info">Tilbage</a>
            <input type="submit" class="btn btn-success float-right" value="Gem"/>
        </div>

    </div>

    </div>
</form>