<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventure Alley | Oversigt</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div th:replace="/includes/menu::menu"></div>
<div class="row pt-3">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="form-group">
            <!--/*@thymesVar id="dataMapAct" type="java.util.HashMap"*/-->
            <select class="form-control" id="sel1">
                <th:block th:each="activity : ${activities_HashMap}">
                    <option th:text="${activity.value.getName()}"></option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <input type="date" class="form-control" placeholder="Søg på dag fx. mandag">
                <span class="input-group-addon">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                </span>
            </div>
        </div>
        <input class=" btn btn-success float-right" value="Opret Reservation" type="submit" name="action"
               th:if="${IS_LOGGED_IN} AND ${NIVEAU} == 2">
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Start</th>
        <th scope="col">Slut</th>
        <th scope="col">Aktivitet</th>
        <th scope="col">Medarbejder</th>
        <th scope="col">Antal personer</th>
        <th scope="col">Kundekontakt</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <!--/*@thymesVar id="dataList" type="java.util.ArrayList"*/-->
    <tr th:each="data: ${reservation_ArrayList}">
        <td th:text="${data.start}"></td>
        <td th:text="${data.end}"></td>
        <td th:text="${activities_HashMap.get(data.fk_activity_id).getName()}"></td>
        <td th:text="${employees_HashMap.get(data.fk_employee_id).getRealname()}"></td>
        <td th:text="${data.peopleAmount}"></td>
        <td th:utext="'Navn:&emsp;&emsp;' + ${customer_HashMap.get(data.fk_customer_id).getName()} + '<br/>' +
                      'Telefon:&emsp;&thinsp;' + ${customer_HashMap.get(data.fk_customer_id).getTelephone()} + '<br/>' +
                      'Email:&emsp;&emsp;' + ${customer_HashMap.get(data.fk_customer_id).getEmail()} + '<br/>' +
                      'Firma:&emsp;&emsp;' + ${customer_HashMap.get(data.fk_customer_id).getCompanyName()}">

        </td>
        <td>
            <div class="form-group">
                <div class="row float-right">
                    <form method="post">
                        <button class="btn btn-danger float-right btnMargin" type="submit"
                                name="deleteReservation">
                            Slet
                        </button>
                        <button class="btn btn-primary float-right" type="submit" name="editReservation">
                            Rediger
                        </button>
                    </form>
                </div>
            </div>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>